head {
    height: 50pt;
    background-color: cornflowerblue;
}
#info {
    background-color: crimson;
}
#Menu {
    background-color: cadetblue;
}
#titulo {
    color: black;
    font-size: 20pt;
}
#presentacion {
    margin: 30pt;
    border-radius: 10pt;
    background-color: rgb(42, 107, 204);
}
h1 {
    padding: 20pt;
    font-size: 40pt;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
html{
    background-color: #f6f6f6;
}
p {
}